@media only screen and (max-width: 830px) {
    /* Footer
   ------------------------------------*/

   footer {
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    height: 100%;
    font-size: 10px;
  }

  footer div#footer-links ul li {
    padding-left: 5px;
    padding-right: 5px;
  }

  footer #footer-links {
    text-align: center;
    width: 100%;
  }

  /* Icons */
  footer  #footer-icons { display: none; }
  /*footer  #footer-logo { display: none; }*/
  footer  #footer-left { display: none; }

  /* Go To Top Button */
  #go-top { margin-left: -22px; }
  #go-top a {
      width: 54px;
      height: 54px;
     font-size: 18px;
     line-height: 54px;
  }
}
