{% set base_url = base_url_absolute %}

<div class="footer section">
  <div class="footer-inner section-inner">
    {% include 'partials/tagcloud.html.twig' %}
  </div>
</div>
<footer>
    <div id="footer-left">
        <ul class="footer-icons-left">
        <div id="footer-copyleft"><a href="https://git.disroot.org/Disroot/Website#license"></a></div>
        </ul>
    </div>
    <div id="footer-links">
        <ul class="footer-links">
            <li><a href="{{ base_url }}/tos">{{ 'Terms_Of_Service'|t }}</a></li>
            <li><span class="dot"></span></li>
            <li><a href="{{ base_url }}/privacy_policy">{{ 'Privacy_Policy'|t }}</a></li>
            <li><span class="dot"></span></li>
            <li><a href="{{ base_url }}/changelog">{{ 'Changelog'|t }}</a></li>
            <li><span class="dot"></span></li>
            <li><a href="{{ base_url }}/tor">{{ 'Tor Onion'|t }}</a></li>
        </ul>
    </div>
    <div id="footer-icons">
        <ul class="footer-icons-right">
        <li><a href="https://nixnet.social/disroot"><i class="fa fa-mastodon fa-fw fa-3x"></i></a></li>
        <li><a href="{{ base_url }}/blog.atom"><i class="fa fa-rss-square fa-fw fa-3x"></i></a></li>
        </ul>
    </div>
</footer>
